body {
    background-image: url('../../.././documentation/images/mana.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.containerz {
    padding: 20px;
    text-align: right;
    margin-right: 20px;
    color: aliceblue;
    padding-bottom: 125px;
}

.userButtons {
    width: 750px;
    justify-content: center;
    text-align: center;
    height: 50px;
}

.userButtonDiv{
    justify-content: center;
    text-align: center;
}