/* .carousel-container {
    width: 100%;
    margin: auto;
} */

img{
    max-width: 450;
    border: 2px solid black;
    border-radius: 12px;
}

.results{
    justify-content: center;
    text-align: center;
}

.searchResults{
    color: aliceblue;
    width: 160px;
}



